@page
@model WebApplicationCraftConnect.Pages.About_usModel
@{
}


<head>

</head>
<body>
<div class="PageWithText">

    <h1>About us</h1>
    <p>
        Once upon a time, there was a woman named Lily who had a keen eye for handmade treasures. Everywhere she looked, she saw small businesses crafting beautiful items with love and care. However, she also noticed something troubling. These small businesses were struggling to keep up with the big corporations, who seemed to dominate the market with their mass-produced goods.

        <br /><br />Feeling a tug at her heartstrings, Lily couldn't stand idly by while these artisans struggled to make ends meet. Determined to make a difference, she set out on a mission to help them thrive.

        <br /><br />After much thought and contemplation, Lily had a brilliant idea. She decided to create a website where these small businesses could showcase their handmade products and workshops. It would be a place where artisans could come together, support each other, and reach a broader audience.

        <br /><br />With excitement bubbling in her heart, Lily got to work. She poured her heart and soul into building the website, making sure it was easy to navigate and visually appealing. She reached out to small businesses in her community, explaining her vision and inviting them to join her platform.

        <br /><br />As word spread about Lily's initiative, more and more artisans eagerly signed up. Each one brought their unique talents and creations to the table, from handcrafted jewelry to intricately designed pottery.

        <br /><br />Before long, Lily's website became a bustling marketplace, buzzing with activity and creativity. Customers flocked to the site, drawn by the charm and authenticity of the handmade goods on offer. They were thrilled to support local artisans and discover one-of-a-kind treasures they couldn't find anywhere else.

        <br /><br />Thanks to Lily's dedication and vision, the small businesses on her platform began to thrive. With increased visibility and sales, they were able to grow their businesses and reach new heights of success. What started as a humble idea had blossomed into a thriving community of artisans, united by their passion for craftsmanship and creativity.

        <br /><br />And so, Lily's website became a beacon of hope for small businesses everywhere, proving that by coming together and supporting one another, they could overcome any challenge and build a brighter future together.
    </p>
    </div>
</body>